@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  src: url("./Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  src: url("./Inter-Bold.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  src: url("./Inter-Thin.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("./Inter-ExtraLight.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("./Inter-Light.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("./Inter-Medium.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("./Inter-SemiBold.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: bolder;
  src: url("./Inter-ExtraBold.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("./Inter-Black.ttf");
}

/* Roboto */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url("./Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: normal;
  src: url("./Roboto-Italic.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  src: url("./Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: bold;
  src: url("./Roboto-BoldItalic.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("./Roboto-Thin.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: url("./Roboto-ThinItalic.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("./Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url("./Roboto-LightItalic.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("./Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url("./Roboto-MediumItalic.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("./Roboto-Black.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url("./Roboto-BlackItalic.ttf");
}

@font-face {
  font-family: "ITC Benguiat Gothic Std";
  font-style: normal;
  font-weight: bold;
  src: url("./BenguiatGothicStd-Bold.otf") format("woff2"),
    url("./BenguiatGothicStd-Bold.otf") format("woff"),
    url("./BenguiatGothicStd-Bold.otf") format("truetype");
}
